.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #fff;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .stayanest {
    font-size: 1.5em;
    color: #007bff; /* Adjust color based on your branding */
    text-decoration: none;
  }
  
  .account {
    display: flex;
    align-items: center;
  }
  
  .account i {
    margin-right: 0.5em;
  }
  