.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #fff;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .search-bar {
    flex-grow: 1;
    margin: 0 1em;
  }
  
  .account-image {
    border-radius: 50%;
  }
  